{% extends 'base.html' %}

{% block container %}

{% if not valido and valido is not None %}
  <div class="alert alert-danger">
    <strong> {{mensagem}} </strong>
  </div>
{% endif %}

{% if  contato == None%}
<form method="POST" action="{% url 'adicionar'%}">{% csrf_token %}
{% else %}
<form method="PUT" action="{% url 'editar' contato.id%}">{% csrf_token %}
{% endif %}
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" value="{{contato.nome}}" name="nome" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Escreva seu nome">
  </div>

  <div class="form-group">
    <label for="sobre_nome">Sobrenome</label>
    <input type="text"  value="{{contato.sobre_nome}}" name="sobre_nome" class="form-control" id="sobre_nome" placeholder="Escreva seu sobrenome">
  </div>

  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" value="{{contato.telefone}}" name="telefone" class="form-control" id="telefone" aria-describedby="emailHelp" placeholder="Seu telefone">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" value="{{contato.email}}" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Escreva seu e-mail">
  </div>

  <div class="form-group">
    <select class="form-control form-control-sm" name="categoria">
    <option></option>
      {% for c in categorias  %}
        {% if contato.categoria.id == c.id %}
          <option selected value="{{c.id}}">{{c.nome}}</option>
        {% else %}
          <option value="{{c.id}}">{{c.nome}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="ativo">Ativo</label>
    <input type="checkbox" name="ativo" class="form-check-input" id="ativo">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock container %}